* text=auto eol=lf

*.md text eol=lf
*.js text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

3rd/** -text
src/apps/web-mediacenter/ui/public/js/vendor/aframe-1.5.0/*.js -text -diff
src/apps/web-mediacenter/ui/public/js/vendor/mind-ar-1.2.5/*.js -text -diff
